
.ligne {
    display: flex;
    margin: 1em 0;
    gap: 1em;
    align-items: center;

    input {
            min-width: 200px;
            max-width: 400px;
            width: 100%;
        }

    .bouton {
            background-color: rgba(48, 48, 226, 0.971);
            color: white;
            padding: 0.5em;
            border-radius: 5px;
            user-select: none;
            cursor: pointer;
            width: fit-content;
            display: inline-block;
    
            &:hover {
                background-color: rgba(0, 0, 255, 0.618);
            }    
        }
}






.categories {

    :nth-child(1) .header {
        background-color: rgba(255, 0, 0, 0.567);
    }

    :nth-child(2) .header {
        background-color: rgba(255, 166, 0, 0.671);
    }

    :nth-child(3) .header {
        background-color: rgba(255, 255, 0, 0.607);
    }

    :nth-child(4) .header {
        background-color: rgba(172, 255, 47, 0.601);
    }

    :nth-child(5) .header {
        background-color: rgba(0, 0, 255, 0.519);
    }

    .header {
        background-color: rgba(242, 0, 255, 0.519);
    }

    .categorie {
        display:flex;
        height: 100px;

        .bouton {
            opacity: 0;
            background-color: antiquewhite;
            border-radius: 50%;
            position: absolute;
            user-select: none;
            cursor: pointer;
    
            &:hover {
                background-color: rgb(241, 205, 158);
                ;
            }
    
            &.bouton-plus {
                border: solid 1px black;
                top: 3px;
                right: 3px;
            }
    
            &.bouton-moins {
                border: solid 1px black;
                bottom: 3px;
                right: 3px;
            }
    
            &.bouton-supp {
                border: solid 1px black;
                left: 3px;
                bottom: 3px;
            }
        }

        .image, .header {
            width: 100px;
            height: 100px;
            border: 1px solid;
            position: relative;

            &:hover .bouton {
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
            }
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;

            .bouton {
                font-size: 0.5em;
            }
        }

        .image {
            width: 100px;
            height: 100px;

            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
            
        }
    }
}
